node_modules/
Edge/UseNodejsInDotNet/UseNodejsInDotNet/bin/
Edge/UseNodejsInDotNet/UseNodejsInDotNet/obj/
Edge/UseNodejsInDotNet/packages/
Mailgin/node_modules/
test/node_modules/
web_sockets/angular-socket-app/app/bower_components
web_sockets/angular-socket-app/node_modules
web_sockets/node_modules
web_sockets/sftp-config.json
BackandLogstashLogger/BackandLogstashLogger/bin
BackandLogstashLogger/BackandLogstashLogger/obj
orm.sublime-project
orm.sublime-workspace
docs/*
static_site_generator/node_modules
static_site
Simple-Jekyll-Search/
temp/
json_query_language/dotnet/ConsoleApplication1/ConsoleApplication1/bin
json_query_language/dotnet/ConsoleApplication1/ConsoleApplication1/obj
json_query_language/nodejs/node_modules
.idea
hosting/.awspublish*
hosting/src
.DS_Store
push/node_modules
hosting/node_modules
hosting/temporary-credentials.json
hosting/dist
sync-gulp-plugin/node_modules
sync-gulp-plugin/temporary-credentials.json
sync-gulp-plugin/src
myApp
hosting/npm-debug.log
hosting/.backand-credentials.json
