<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h2 class="panel-title">
                        Result for Parse Migration
                    </h2>
                </div>
                <div class="panel-body">
                    <h3>
                        <%= appName %>
                    </h3>
                </div>
                <ul class="list-group">

                    <li class="list-group-item">
                        <h4>Account # 1364672 (current debit:: $356.61)</h4>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Operation date</th>
                                <th>Remitter</th>
                                <th>Beneficiary</th>
                                <th>Amount</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Wed Nov 12 17:43:13 MSK 2014</td>
                                <td>Smith J. (cash in)</td>
                                <td>Jonex A.</td>
                                <td>356.61</td>
                                <td>Iniital deposit</td>
                            </tr>
                            <tr>
                                <td>Wed Nov 13 12:41:13 MSK 2014</td>
                                <td>Suzarland TJ.</td>
                                <td>Smith J.</td>
                                <td>2000.00</td>
                                <td>Reward</td>
                            </tr>
                            <tr>
                                <td>Wed Nov 15 07:43:13 MSK 2014</td>
                                <td>Smith J.</td>
                                <td>Smith M.</td>
                                <td>100.00</td>
                                <td>funds transfer</td>
                            </tr>
                            </tbody>
                        </table>
                    </li>

                    <li class="list-group-item">
                        <h4>Account # 1364672 (current debit:: $356.61)</h4>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Operation date</th>
                                <th>Remitter</th>
                                <th>Beneficiary</th>
                                <th>Amount</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Wed Nov 12 17:43:13 MSK 2014</td>
                                <td>Smith J. (cash in)</td>
                                <td>Jonex A.</td>
                                <td>356.61</td>
                                <td>Iniital deposit</td>
                            </tr>
                            <tr>
                                <td>Wed Nov 13 12:41:13 MSK 2014</td>
                                <td>Suzarland TJ.</td>
                                <td>Smith J.</td>
                                <td>2000.00</td>
                                <td>Reward</td>
                            </tr>
                            <tr>
                                <td>Wed Nov 15 07:43:13 MSK 2014</td>
                                <td>Smith J.</td>
                                <td>Smith M.</td>
                                <td>100.00</td>
                                <td>funds transfer</td>
                            </tr>
                            </tbody>
                        </table>
                    </li>

                    <li class="list-group-item">
                        <h4>Account # 1364672 (current debit:: $356.61)</h4>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Operation date</th>
                                <th>Remitter</th>
                                <th>Beneficiary</th>
                                <th>Amount</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Wed Nov 12 17:43:13 MSK 2014</td>
                                <td>Smith J. (cash in)</td>
                                <td>Jonex A.</td>
                                <td>356.61</td>
                                <td>Iniital deposit</td>
                            </tr>
                            <tr>
                                <td>Wed Nov 13 12:41:13 MSK 2014</td>
                                <td>Suzarland TJ.</td>
                                <td>Smith J.</td>
                                <td>2000.00</td>
                                <td>Reward</td>
                            </tr>
                            <tr>
                                <td>Wed Nov 15 07:43:13 MSK 2014</td>
                                <td>Smith J.</td>
                                <td>Smith M.</td>
                                <td>100.00</td>
                                <td>funds transfer</td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <!--<div class="container">-->
        <!--<h1>Result for <%= appName %></h1>-->

        <!--<% _.keys(errors, function(name) { %> <li><%=   name %></li> <% }); %>-->
        <!--<% _.keys(statistics, function(name) { %> <li><%=   name %></li> <% }); %>-->

    <!--</div>-->
</body>
</html>